<html>
<head>
  <%= stylesheet_link_tag "auth.css" %>
</head>
<body>

<!-- Form to log in -->
<div class="center">
  <h1> Log in </h1>
  <br>
  <%= form_with do |form| %>
    <%= form.text_field :email, placeholder: (I18n.t 'fields.email_field'), :required => true %>
    <br>
    <br>
    <%= form.password_field :password, placeholder: (I18n.t 'fields.password_field'), :required => true %>
    <br>
    <br>
    <%= form.submit "Log in" %>
  <% end %>

  <a href="/auth/register">Don't have an account? Make one</a>
</div>

</body>
</html>

