<html>
<head>

  <style>

      label {
          color: white;
      }

      .center {
          border-radius: 15px;
          padding: 50px;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #121212;
          text-align: center;
      }

      h1 {
          color: #CCCCCC;
      }

      body {
          background-color: cornflowerblue;
      }
  </style>
</head>
<body>

<div class="center">
  <h1> Log in </h1>
  <br>
  <%= form_with do |form| %>
    <%= form.label :email, (I18n.t 'email_field') %>
    <%= form.text_field :email %>
    <br>
    <br>
    <%= form.label :password, "Password:" %>
    <%= form.password_field :password %>
    <br>
    <br>
    <%= form.submit "Log in" %>
  <% end %>

  <a href="/auth/register">Don't have an account? Make one</a>
</div>


</body>
</html>

