<html>
<head>
  <%= stylesheet_link_tag "auth.css" %>
</head>
<body>

<!-- Form to register an account -->
<div class="center">
  <h1> <%= I18n.t 'auth.make_an_account' %></h1>
  <br>
  <%= form_with do |form| %>
    <%= form.text_field :email, placeholder: (I18n.t 'fields.email_field'), :required => true %>
    <br>
    <br>
    <%= form.password_field :password, placeholder: (I18n.t 'fields.password_field'), :required => true %>
    <br>
    <br>
    <%= form.submit (I18n.t 'auth.create_account') %>
  <% end %>

  <a href="/auth/login"><%= I18n.t 'auth.already_have_an_account' %></a>
</div>

</body>
</html>
