<!doctype html>
<html lang="en">
<head>
  <%= stylesheet_link_tag "sidenav.css" %>
</head>
<body>

<!-- Sidebar -->
<div class="sidenav">
  <a href="/email/inbox" onclick="select('inbox')" id="inbox"><%= I18n.t 'tabs.inbox' %></a>
  <a href="/email/new_email" onclick="select('new_email')" id="new_email"><%= I18n.t 'tabs.send_email' %></a>
  <a href="/profile/profile" onclick="select('profile')" id="profile"><%= I18n.t 'tabs.profile' %></a>
  <a href="/contact/contact" onclick="select('contact')" id="contact"><%= I18n.t 'tabs.contact' %></a>
  <div class="bott">
    <hr>
    <a href="/auth/logout"><%= I18n.t 'auth.log_out' %></a>
  </div>
</div>


<script>
    document.getElementById("<%=page%>").classList.add("active");
    console.log(document.getElementById("<%=page%>"));
</script>

</body>
</html>