<html>

<head>
  <%= stylesheet_link_tag "application.css" %>
</head>

<body>
<%= render "sidebar" %>
<h1> Inbox </h1>

<div class="tab">
  <% @mailboxes.each do |mailbox| %>
    <button class="tablinks" onclick="selectTab(event, '<%= mailbox.name %>')" id='default-open'>
      <%= mailbox.name %></button>
  <% end %>
  <button id="add">+add</button>
</div>

<% @mailboxes.each do |mailbox| %>
  <div id="<%= mailbox.name %>" class="tabcontent">
    <% get_emails(mailbox).each do |email| %>
      <div class="email">
        <p>Subject: <%= email.to %></p>
      </div>
    <% end %>
  </div>
<% end %>

<%= form_with do |form| %>
  <%= form.label :name, "Inbox name:" %>
  <%= form.text_field :name %>
  <br>
  <br>
  <%= form.submit "Create inbox" %>
<% end %>

<script>
    //TODO: Add script to file in javascript folder
    document.getElementById("default-open").click()

    // TODO: Change name of function
    function selectTab(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }</script>
</body>
</html>

