<html>

<head>
  <%= stylesheet_link_tag "application.css" %>
</head>

<body>
<%= render 'partials/sidebar' %>
<h1> Inbox </h1>

<!-- Code for the tabs-->
<div class="tab">
  <% @mailboxes.each do |mailbox| %>
    <button class="tablinks" onclick="selectTab(event, '<%= mailbox.name %>')" id='default-open'>
      <%= mailbox.name %></button>
  <% end %>
  <button style="color: green" id="add">+</button>
</div>

<!-- Code for the tab content-->
<% @mailboxes.each do |mailbox| %>
  <div id="<%= mailbox.name %>" class="tabcontent">
    <!-- Print all the emails that belong to the mailbox-->
    <% get_emails(mailbox).each do |email| %>
      <div class="email">
        <% if mailbox.name == 'Sent' %>
          <p><b>To:</b> <%= email.to %></p>
        <% else %>
          <p><b>From:</b> <%= email.from %></p>
        <% end %>
        <div class="vl"></div>
        <p><%= email.subject %></p>

        <!-- The drop down menu for each email-->
        <div class="dropdown">
          <button onclick="myFunction(<%=email.id %>)" class="dropbtn">...</button>
          <div id="<%= email.id %>" class="dropdown-content">
            <a style="color:red;" href="/email/delete_email?id=<%= email.id %>">Delete</a>
            <a onclick="open_selection_modal(<%= email.id %>)">Move to...</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<!-- Code for the add inbox modal-->
<div id="myModal" class="modal">
  <div class="modal-content">
    <button class="btn-close btn-close-white" aria-label="Close"></button>
    <%= form_with :url => '/email/inbox', :method => :post do |form| %>
      <%= form.text_field :name, class: "form-control", placeholder: "Inbox name", :required => true %>
      <br>
      <%= form.submit "Create inbox", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<!-- Code for the add inbox selection modal-->
<div id="mailbox_modal" class="modal">
  <div class="modal-content">
    <button class="btn-close btn-close-white" aria-label="Close" , onclick="close_selection_modal()"></button>
    <%= form_with :url => '/email/change_inbox', :method => :post do |form| %>
      <%= hidden_field_tag 'email_id', value = 'no val' %>
      <%= form.select :name, get_mailboxes, class: "form-select" %>
      <br>
      <%= form.submit "Move", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction(id) {
        document.getElementById(id).classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    function open_selection_modal(id) {
        document.getElementById("mailbox_modal").classList.toggle("show")
        document.getElementById("email_id").value = id
    }

    // When the close button is pressed close the modal
    function close_selection_modal() {
        if (document.getElementById("mailbox_modal").classList.contains('show')) {
            document.getElementById("mailbox_modal").classList.remove('show');
        }
    }

    // Get the modal
    let modal = document.getElementById("myModal");

    // Get the button that opens the modal
    let btn = document.getElementById("add");

    // Get the <span> element that closes the modal
    let span = document.getElementsByClassName("btn-close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.classList.toggle("show")
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        if (modal.classList.contains('show')) {
            modal.classList.remove('show');
        }
    }

    document.getElementById("default-open").click();

    function selectTab(evt, element) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(element).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
</body>
</html>

