<html>
<head>

  <style>
      body {
          background-color: #242424;
          /* Add this padding so the content of the page does not overlap with the sidebar partial*/
          padding-left: 160px;
          padding-top: 20px;
      }

      .form-control {
          margin-top: 0;
          margin-bottom: 15px
      }

      .card {
          background-color: #242424;
          border-color: #121212;
          margin-left: 10px;
          margin-right: 10px;
          top: 0;
          padding: 0;
      }

      .card-body {
          top: 0;
          margin: 0;
      }

      textarea {
          resize: none;
      }
  </style>

</head>
<body>
<%= render partial: 'partials/sidebar', :locals => { :page => 'new_email' } %>
<div>
  <%= form_with do |form| %>
    <div class="card">
      <div class="card-body">
        <%= form.text_field :to, class: "form-control", :required => true, placeholder: "#{I18n.t 'fields.to'}..." %>
        <%= text_area_tag 'subject', nil, class: 'form-control', placeholder: "#{ I18n.t 'fields.subject' }...", rows: 2, :required => true %>
        <%= text_area_tag 'content', nil, class: 'form-control', placeholder: "#{I18n.t 'fields.content'}...", rows: 20 %>
        <br>
        <%= form.submit (I18n.t 'actions.send'), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %></div>
</body>
</html>
