<html>
<head>

  <style>
      textarea {
          resize: none;
      }
  </style>
  <%= stylesheet_link_tag "card.css" %>
  <%= stylesheet_link_tag "home_body.css" %>
</head>
<body>
<%= render partial: 'partials/sidebar', :locals => { :page => 'new_email' } %>

<h1 style="text-align: center">Send Email</h1>

<!-- Contact form -->
<div>
  <%= form_with do |form| %>
    <div class="card">
      <div class="card-body">
        <%= form.text_field :to, class: "form-control", :required => true, placeholder: "#{I18n.t 'fields.to'}..." %>
        <%= text_area_tag 'subject', nil, class: 'form-control', placeholder: "#{ I18n.t 'fields.subject' }...", rows: 2, :required => true %>
        <%= text_area_tag 'content', nil, class: 'form-control', placeholder: "#{I18n.t 'fields.content'}...", rows: 20 %>
        <br>
        <%= form.submit (I18n.t 'actions.send'), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %></div>
</body>
</html>
