<html>
<head>

  <%= stylesheet_link_tag "home_body.css" %>
  <%= stylesheet_link_tag "view_email.css" %>
</head>

<body>
<%= render partial: 'partials/sidebar', :locals => { :page => 'inbox' } %>

<!-- Back button -->
<a onclick="goBack()" class="back-button">&laquo; <%= I18n.t 'actions.previous' %></a>

<!-- Email view -->
<div class="card">
  <div class="card-body">
    <h1><b><%= I18n.t 'fields.from' %>:</b> <%= @email.from %></h1>
    <h5><b><%= I18n.t 'fields.to' %>:</b> <%= @email.to %></h5>
    <hr>
    <p><b><%= I18n.t 'fields.subject' %>:</b> <%= @email.subject %></p>
    <br>
    <p><%= @email.content %></p>
  </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
