<html>
<head>
  <%= stylesheet_link_tag "card.css" %>
  <%= stylesheet_link_tag "home_body.css" %>
</head>
<body>
<%= render partial: 'partials/sidebar', :locals => { :page => 'contact' } %>

<h1 style="text-align: center">Contact</h1>

<!-- Form for the contact form -->
<%= form_with do |form| %>
  <div class="card">
    <div class="card-body">

      <div class="mb-3">
        <%= form.text_field :name, :required => true, class: "form-control", placeholder: (I18n.t 'fields.name') %>
      </div>

      <div class="mb-3">
        <%= form.text_field :phone, :required => true, class: "form-control", placeholder: (I18n.t 'fields.phone') %>
      </div>

      <div class="mb-3">
        <%= form.text_field :content, :required => true, class: "form-control", placeholder: (I18n.t 'fields.contact_placeholder') %>
      </div>

      <%= form.submit (I18n.t 'actions.send'), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</body>
</html>


