<html>
<head>

  <style>

      .bottom hr {
          color: red;
          border-top: 5px solid;
          margin-bottom: 40px;
      }

      body {
          background-color: #242424;
          /* Add this padding so the content of the page does not overlap with the sidebar partial*/
          padding-left: 160px;

          padding-top: 20px;
      }

      label {
          color: white;
      }

      #delete-btn {
          background-color: red;
          border-color: red;
      }

      .bottom {
          float: bottom;
          position: absolute;
          bottom: 50px;
          right: 0;
          left: 160px;
      }

      .card {
          background-color: #242424;
          border-color: #121212;
          margin-left: 10px;
          margin-right: 10px;

      }

      .form-control {
          margin-top: 0;
      }

  </style>
</head>
<body>
<%= render partial: 'partials/sidebar', :locals => { :page => 'profile' } %>



<%= form_with do |form| %>
  <div class="card">
    <div class="card-body">
      <p><%= I18n.t 'auth.change_password_message' %></p>
      <div class="mb-3">
        <%= form.text_field :password, class: "form-control", placeholder: (I18n.t 'auth.new_password_field'), :required => true %>
      </div>

      <%= form.submit (I18n.t 'auth.change_password_button'), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= form_with :method => :delete do |form| %>
  <div class="bottom">
    <div style="text-align: center;"><p style="color: red"><%= I18n.t 'auth.danger_zone' %></p></div>
    <hr>
    <div class="card">
      <div class="card-body">

        <p><b><%= I18n.t 'auth.delete_account' %></b></p>
        <p><%= I18n.t 'auth.delete_account_message' %></p>
        <%= form.submit (I18n.t 'auth.delete_account'), class: "btn btn-primary", id: "delete-btn" %>
      </div>
    </div>
  </div>
<% end %>
</body>
</html>
